<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="main.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        
        <title>Produkte-Hinzufügen-Button</title>
    
    </head>
        <div class="addProd">
            <div class="dropup">
                <button class="aPdropbtn" width="100%">+</button>
                <div class="dropup-content">
                    <form class="addProdForm" action="/addProduct" method="post">
                        <h3>Produkt hinzufügen</h3><br>
                        Artikelbezeichnung/ Name <br>
                        <input type="text" class="formular textInput" name="name" id="productname"><br><br>
                        Kategorie <br>
                        <select name="kategorie" class="formular" id="categories">
                            <option value="T-Shirt" name="T-Shirt">T-Shirt</option>
                            <option value="Pullover" name="Pullover">Pullover</option>
                            <option value="Jacken" name="Jacke">Jacke</option>
                            <option value="Hosen" name="Hose">Hose</option>
                            <option value="Schuhe" name="Schuhe">Schuhe</option>
                            <option value="Accessoires" name="Accesoire">Accessoires</option>
                        </select><br><br>
                        Preis <br>
                        <input type="number" name="preis" class="formular textInput" id="price"><br><br>
                        Größe(n) <br>
                        <div>
                            <input type="checkbox" id="s" name="s" checked>
                            <label for="s">S</label>
                            <input type="checkbox" id="m" name="m">
                            <label for="m">M</label>
                            <input type="checkbox" id="l" name="l">
                            <label for="l">L</label>
                        </div>    
                        <br>
                        Farbe <br>
                        <select name="farbe" class="formular" id="colours">
                            <option value="white">Weiß</option>
                            <option value="black">Schwarz</option>
                            <option value="red">Rot</option>
                            <option value="green">Grün</option>
                            <option value="blue">Blau</option>
                            <option value="yellow">Gelb</option>
                        </select><br><br>
                        Bild <br>
                        <input type="text" name="bildlink" class="formular textInput" id="image-link"><br>
                        <br>
                        <button type="submit" class="formular aPSubmit">Hinzufügen</button>
                    </form>
                </div>
            </div>
        </div>
</html>