<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link href="main.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        <% include sessionnavbar %>

        <div class="jumbotron text-center">
                <br><br><h1>Anbieter-/ Markenbanner</h1><br><br>
        </div>

        <h4 class="eigeneWorte">Eigene Worte</h4>
        <p class="eigeneWorteContent">Wir von ... legen sehr viel Wert auf die umweltfreundliche Prduktion von Kleidungsstücken. Bla bla bla usw. etc. etc. Wichtige Infos wichtige Infos ...<br>
        Unsere Partner werden nach Standards ausgesucht die Kinderarbeit ausschließen und faire Bezahlung und Behandlung der Mitarbeiter fördern. <br>
        Gleichzeitig werden in unseren Produkten nur die besten Materialien verwendet um eine gleichbleibend gute Qualität zu gewährleisten</p>

        <div class="container">
            <div class="page-header text-center">
                <h1>Kategorien</h1>      
            </div>
        </div>

        <div class="row categoryRow">
            <div class="col-sm-4">
                <a href="/shirts" class="img-responsive" alt="T-Shirts" method="GET">
                    <div class="container4Kat">
                        <img src="tshirt_stack.jpg" alt="T-Shirts" class="categoryimage">
                        <div class="middle">
                            <div class="categorytext">T-Shirts</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/pullis" class="img-responsive">
                    <div class="container4Kat">
                        <img src="pullover_stack.jpg" alt="Pullis" class="categoryimage">
                        <div class="middle">
                            <div class="categorytext">Pullover</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/jacken" class="img-responsive">
                    <div class="container4Kat">
                        <img src="jacken.jpg" alt="Jacken" class="categoryimage">
                        <div class="middle">
                            <div class="categorytext">Jacken</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row categoryRow">
            <div class="col-sm-4">
                <a href="/hosen" class="img-responsive">
                    <div class="container4Kat">
                        <img src="hosen.jpg" alt="Hosen" class="categoryimage">
                        <div class="middle">
                            <div class="categorytext">Hosen</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/schuhe" class="img-responsive">
                    <div class="container4Kat">
                        <img src="schuhe.jpg" alt="T-Shirts" class="categoryimage">
                        <div class="middle">
                            <div class="categorytext">Schuhe</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/accessoires" class="img-responsive">
                    <div class="container4Kat">
                        <img src="accessoires.jpg" alt="T-Shirts" class="categoryimage">
                        <div class="middle">
                            <div class="categorytext">Accessoires</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="container">
                <div class="page-header text-center">
                </div>
        </div>
        
        <% include addproduct %>
    </body>
</html>