<!DOCTYPE html>
<html>

<head>

    <link href="main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="main.css" rel="stylesheet" type="text/css">



    <title>Registration</title>
    <link href="main.css" rel="stylesheet" type="text/css">

    <style>
        .card {
            max-width: 50vw;
            min-width: 360px;
            margin: 5rem auto;
            padding: 2rem;
            background-color: white;
            border-radius: 5px;
            text-align: center;
        }

        .input {
            box-sizing: border-box;
            width: 50%;
            padding: .25rem;
            font-size: 1rem;
            border: 1px solid #dddddd;
            border-radius: 5px;
        }

        .button {

            background-color: #6BC5FF;
            color: white;
            font-weight: 100;
            font-size: 1rem;
            border: none;
            padding: 6px 32px;
            transition: background-color 0.2s ease;
        }

        .button:hover {
            background-color: #569DCC;
        }

        .signupText {
            text-align: center;
            font-size: 12px;
        }

        .error {
            font-size: 1rem;
            font-weight: bold;
        }
    </style>
</head>

<body>

    

    <div class="card">
        <div class="headline">Registrierung</div>

        <% if (error != null) { %>
        <div class="error"><%= error %></div>
        <% } %>

        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="Benutzername" required>

            <input type="text" name="Markenname" placeholder="Markenname" required>

            <input type="text" name="banner" placeholder="Banner" required>

            <input type="text" name="email" placeholder="Email" required>

            <input type="password" name="password" placeholder="Passwort" required>

            <input type="password" name="passwordConfirm" placeholder="Passwort wiederholen" required>
            <br>
            <button type="submit">Registrieren</button>
        </form>

    </div>





</body>

</html>