<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thrasher</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
      .col-lg-3{
    background-color: white; 
    border-style: solid; 
    margin: 10px 10px 10px 90px;
}
  </style>
</head>
<body style="background-color: white;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/bs">Shop</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Login</a></li>
                  <li><a href="#">Create Account</a></li>
                
                </ul>
              </li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
        </div>
      </nav>

      <div class="col-sm-12 text-center">
                <img src="thrasherlogo2.jpg" class="img-rounded" alt="Thrasher">  
      </div>
      <div class="col-sm-12" style="background-color:lightgray;">   <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Kategorien</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="#">Pullover</a></li>
                <li><a href="#">Hosen</a></li>
                <li><a href="#">Schuhe</a></li>
                <li><a href="#">T-Shirts</a></li>
                <li><a href="#">Jacken</a></li>
                <li><a href="#">Accessoires</a></li>
              </ul>
            </div>
          </nav></div>

   

    
      <div class="container-fluid" style="background-color:lightgrey">
            <div class="row" style="background-color:lightgrey">
                <div class="col-lg-3">
                  <a href="/pullover" class="thumbnail">
                    <img src="/thrasherhoodie.jpg" alt="Pullis">
                    <p>Produktname <br>Preis€</p></a>
                </div>
                <div class="col-lg-3">
                  <a href="/hosen" class="thumbnail" >
                    <img src="/thrasherBeanie.jpg" alt="Hosen">
                    <p>Produktname <br>Preis€</p></a>
                </div>
                <div class="col-lg-3">
                  <a href="/Schuhe" class="thumbnail">
                    <img src="/thrasherShirt.jpg" alt="Schuhe">
                    <p>Produktname <br>Preis€</p></a>
                </div>
                
             </div>
             <div class="row">
                  <div class="col-lg-3">
                      <a href="/pullover" class="thumbnail">
                      <img src="/thrasherhoodie2.jpg" alt="Pullis">
                      <p>Produktname <br>Preis€</p></a>
                  </div>

              </div>
            </div> 
</body>
</html>