<!DOCTYPE html>
<html lang="en">
<head>
    <title>Element</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    .col-sm-3{
    background-color: lightgrey; 
    border-style: solid; 
    margin: 10px 10px 10px 90px;
}
  </style>
</head>
<body style="background-color: white;">
    <%include navbar%>

      <div class="col-sm-12 text-center">
                <img src="element.jpg" class="img-rounded" alt="ELEMENT" style="width:70%">  
      </div>

      <div class="col-sm-12" style="background-color:lightgray;">   

      <div class="container-fluid" style="background-color:lightgrey">
            <div class="row" style="background-color:lightgrey">
                <%for (let i = 0; i<produkte.length; i++){%>
                  <div class="col-sm-2">
                      <a href="/elementShirt" class="thumbnail">
                        <img src="<%=produkte[i].bild%>" alt="Pullis" style="height:20%, width:20%">
                        <p><%=produkte[i].name%> <br><%=produkte[i].preis%>€</p>
                      </a>
                      <form action="/entfernen" method="POST">
                        <input type="text" name="name" placeholder="<%=produkte[i].name%>">
                        <button type="submit">Entfernen</button>
                    </form>
                  </div> 
                <%}%>
                
            </div>
            <% if (sessionVariable) {%>
              <% include addproduct %>
          <%}%>
</body>
</html>